<!DOCTYPE html>

{% load static %}

<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<title>Opengineer - Project management for robotic and industrial automotion</title>
 
		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<meta name="decription" content="An dynamicc consulting team for your projet in robotics and industrial automotion. Our strengh is that we are passionate by our work."/>
		<meta name="google-site-verification" content="v9SMswc8_IxiFU8pR90oTKA7Yh7qO9AK9EUUZs-sxAs" />

		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		
		<!-- css -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" media="screen"/>
	
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{% static 'assets/js/html5shiv.js' %}"></script>
			<script src="{% static 'assets/js/respond.js' %}"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	         <script src="{% static 'assets/js/selectivizr.js' %}"></script>
	        <![endif]-->

                <!-- Global site tag (gtag.js) - Google Analytics -->
                        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109789749-1"></script>
                        <script>
                         window.dataLayer = window.dataLayer || [];
                         function gtag(){dataLayer.push(arguments);}
                         gtag('js', new Date());

                         gtag('config', 'UA-109789749-1');
                         </script>


	</head>
	
	<body>
		<header class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-5 col-sm-4 header-logo">
						<br>
						<a href="#home"> 
							<h1 class="logo">Opengineer <span class="logo-head">SpA</span></h1>
						</a>
					</div>

					<div class="col-md-8 col-md-offset-1 col-xs-7">
						<nav class="navbar navbar-default">
						  	<div class="container-fluid nav-bar">
						    <!-- Brand and toggle get grouped for better mobile display -->
							    <div class="navbar-header">
							      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								        <span class="sr-only">Toggle navigation</span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
							      	</button>
							    </div>

						    	<!-- Collect the nav links, forms, and other content for toggling -->
							    <div class="collapse navbar-collapse navbar-def" id="bs-example-navbar-collapse-1">
							      
							      	<ul class="nav navbar-nav navbar-right">
							        		<li>
											<a href="#home"><i class="fa fa-home"></i> Home</a>
										</li>
										<li>
											<a href="#about"><i class="fa fa-info"></i> About</a>
										</li>
										<li>
											<a href="#portfolio"><i class="fa fa-bookmark"></i> Realisations</a>
										</li>  
										<li>
											<a href="#services"><i class="fa fa-line-chart"></i> Services</a>
										</li>
										<li>
											<a href="#footer"><i class="fa fa-at"></i> Contact</a>
										</li>
							      	</ul>
							    </div><!-- /navbar-collapse -->
						  	</div><!-- / .container-fluid -->
						</nav>
					</div>
				</div>
			</div>
		</header>

		<div id="home">
			
			<div id="header" class="content-block">
			{% comment %}	<!-- <section class="top clearfix">
					<div class="pull-left">
						<h1><a class="logo" href="index.html">Opengineer <span class="logo-head">SpA</span></a></h1>
					</div>
					<! <div class="pull-right">
						<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
					</div> 
				</section>--> {% endcomment %}
				<section class="center">
					<div class="slogan">
						Robotics and Automation
					</div>
					<div class="secondary-slogan">
						High Value Consulting for your projects
					</div>
				</section>
			</div><!-- header -->

			<!-- About us -->
	        <div id="about" class="about-us">
	            <div class="container about-sec">
	                <header class="block-heading cleafix">
							<div class="title-page">
								<p class="main-header">About us</p>
							    <p class="sub-header">Make sure you know about us</p>
							</div>
						</header>
	                <div class="divide50"></div>
	                <div class="row">
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-diamond"></i>
	                            <h4 class="aboutus-title">Profesionalism</h4>
	                            <p class="aboutus-desc">We are highly valuable with a enormous will to offer you the best service possible</p>
	                        </div>
	                    </div>
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-puzzle-piece"></i>
	                            <h4 class="aboutus-title">Adapt to your needs</h4>
	                            <p class="aboutus-desc">Our passion is transform your dream to reality. So be sure your needs will be our priority.</p>
	                        </div>
	                    </div>
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-check-square-o"></i>
	                            <h4 class="aboutus-title">Confiability</h4>
	                            <p class="aboutus-desc">This is one of our most important value. We will give you proof that we are trustable.</p>
	                        </div>
	                    </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                               <div class="aboutus-item">
                                   <i class="aboutus-icon fa fa-heart"></i>
                                   <h4 class="aboutus-title">Passion</h4>
                                   <p class="aboutus-desc">Innovation, robotics, High-end technologies, those are our passion and we will always work with a smile on our face beacause we love what we are doing.</p>
                               </div>
                            </div>
                            <div class="col-md-4 text-center">
                               <div class="aboutus-item">  
                                   <i class="aboutus-icon fa fa-wrench"></i>
                                   <h4 class="aboutus-title">Experience</h4>
                                   <p class="aboutus-desc">From Belgium, with a industrial formation of Automation Engineering, in design industrial mecatronics 
                                              and a passion for robotic since childhood, here i am.. </p>
                               </div>
                            </div>
                            <div class="col-md-4 text-center">
                               <div class="aboutus-item">  
                                   <i class="aboutus-icon fa fa-binoculars"></i>
                                   <h4 class="aboutus-title">Short and Long term vision</h4>
                                   <p class="aboutus-desc">Short term vision is as important as long term vision, this why a constant balance&#39;s work is always necesary between both of them.</p>
                               </div>
                            </div>
	                </div>
	            </div>
	        </div>
	        <!-- /About us -->

			<div class="content-block" id="portfolio">
				<div class="container portfolio-sec">
					<header class="block-heading cleafix">
				{% comment %}	<!-- 	<a href="#" class="btn btn-o btn-lg pull-right">View All</a>  -->  {% endcomment %}
						<div class="title-page">
							<p class="main-header">Some Projects </p>
						    <p class="sub-header">Take a look at some of our works</p>
						</div>
					</header>
					<section class="block-body">
						<div class="row">
					{% comment %}		<div class="col-sm-4">
								<span class="recent-work" style="background-image:url({% static 'assets/images/rain_1-320x240.jpg' %})">
									<span class="btn btn-o-white">Design: Revision and creation of 3D models </span>
								</span>
							</div>
							<div class="col-sm-4">
								<span class="recent-work" style="background-image:url({% static 'assets/images/min_icons_thumb1-320x240.jpg' %})">
									<span class="btn btn-o-white">Algorithms: Design of operations mode</span>
								</span>
							</div> {% endcomment %}
							<div class="col-sm-4">
                                                                <span class="recent-work" style="background-image:url({% static 'assets/images/min_icons_thumb1-320x240.jpg' %})">
                                                                        <span class="btn btn-o-white">Soon...</span>
                                                                </span>
                                                        </div>

						</div> 
					</section> 
				</div>
			</div><!-- #portfolio -->
 	
			<div class="content-block parallax">
				<div class="container services-sec">
					<div class="title-page">
						<p class="main-header"><i id="services"> Our Services </i> </p>
					        <p class="sub-header">A little about what we do</p>
					</div>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-group"></i>
									</div>
									<h2 class="service-head">Project Managment</h2>
									<p>What are our core business? What are we in for? Our passion and our day-today basic are managing projects. 
                                                                                Our biggest objectifs is to realize every pojects.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-pencil-square-o"></i>
									</div>	
									<h2 class="service-head">3D Modeling</h2>
									<p>One of our most tecnicals tools is to materialize our ideas into 3D models. We are able to adapt ourself to your standards as Solidworks or Inventor.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-search"></i>
									</div>	
									<h2 class="service-head">Consulting</h2>
									<p>We can adapt to every canvas to offer you our expertise in every steps of your projects.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->
{% comment %}
	
			<div class="content-block" id="blog">
				<div class="container blog-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<div class="title-page">
							<p class="main-header">From the Blog</p>
						    <p class="sub-header">Keep up with the latest happenings.</p>
						</div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4 blog-post">
								<img src="assets/images/bike_water1-1000x600.jpg">
								<a href="#"><h2>Design Your Mind</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/mac_glasses1-1000x600.jpg">
								<a href="#"><h2>Winter Is Comming</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/road-1000x600.jpg">
								<a href="#"><h2>The Illustration</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #blog -->


			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left">In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis.</h3>
					<a href="#" class="pull-right btn btn-o-white btn-lg">Get a free quote</a>
				</div>
			</div><!-- #parallax -->

			<div class="content-block" id="testimonials">
				<div class="container testimonial-sec">

					<header class="block-heading cleafix">
						<div class="title-page  pull-left">
							<p class="main-header">Testimonial</p>
						    <p class="sub-header">What our client says</p>
						</div>
					</header>
					
					<section class="block-body">
						<div class="row">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							  	<!-- Indicators -->
							  	<ol class="carousel-indicators">
								    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  	</ol><!-- /.carousel-indicators -->


							  	<!-- Wrapper for slides -->
							  	<div class="carousel-inner" role="listbox">
								    <div class="item active">
								      	<div class="img-center">	
								      		<img class="img-circle circular-img" src="{% static 'assets/images/01_200x200.png' %}">
								      	</div>	
								      	<h3>
								      		Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								      	</h3>
								      
								    </div><!-- /.item -->
								    <div class="item">
								    	<div class="img-center">	
								      		<img class="img-circle circular-img" src="{% static 'assets/images/02_200x200.png' %}">
								      	</div>
								       	<h3>
								       		Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								       	</h3>
								      
								    </div><!-- /.item -->
								    <div class="item">
								    	<div class="img-center">	
								      		<img class="img-circle circular-img" src="{% static 'assets/images/03_200x200.png' %}">
								        </div>
								       	<h3>
								       		Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								       	</h3>
								    </div><!-- /.item -->
							  	</div><!-- /.carousel-inner -->
							</div><!-- /.carousel slide -->
						</div>	
					</section><!-- /.block-body -->
				</div>
			</div><!-- /#testimonials -->
	{% endcomment %}
			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Talk us about your your projects</h2>
								<p>Do not hesitate to ask us about yours needs. It will a pleasure to discuss with you about your projects.</p>

								<p>We will be happy to show you how our experience and know-how can add a plus-value to your project.  
								</p>

								<p>You will get a response in 48H!</p>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">Contact us</h2>
								<form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
									<div class="form-group">
								    	<input type="text" class="form-control form-control-white" id="name" name="name" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="email" name="email" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" id="message" name="massage" placeholder="Write Something" required></textarea>
								    </div>
								    <div id="contactFormResponse"></div>
								    <div class="form-group">
								    	<input id="cfsubmit" type="submit" class="text-center btn btn-o-white" value="Still in construction..">
								  	</div>
								</form>
							</div>
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Contact Details</h2>
								<ul>
									<li class="address-sub"><i class="fa fa-map-marker"></i>Office Address
										<p>
											Napoleon 3233, Las Condes, Santiago (RM), Chile
										</p> 
										</li>
									<li class="address-sub"><i class="fa fa-phone"></i>Phone
										<p>
											Mobile: +56 9 4122 9009
										</p>
										</li>
									<li class="address-sub"><i class="fa fa-envelope-o"></i>Email Address
										<p>
											<a href="mailto:info@opengineer.cl">info@opengineer.cl</a><br>
											<a href="http://www.opengineer.cl/">www.opengineer.cl</a>
										</p>
										</li>


								</ul>
						{% comment %}		<div class="social">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-skype"></i></a>
								</div>
						{% endcomment %}		
							</div>
						</div>
				</div>
			</div>
			<div class="content-block footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright Opengineer SpA 2017</div>
						<div class="col-xs-6 text-right">Theme inspired  by <a href="http://www.themewagon.com/">ThemeWagon</a></div>
					</div>
				</div>
			</div><!-- #footer -->

		</div><!--/#wrapper-->




		<script src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.js' %}"></script>
		<script src="{% static 'assets/js/jquery.actual.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script> 
		<script src="{% static 'assets/js/contact.js' %}"></script>
		<script src="{% static 'assets/js/script.js' %}"></script>
		<script src="{% static 'assets/js/smoothscroll.js' %}"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){

		  	$(window).scroll(function() {
		  		
		  		console.log("asdf");

				if ($(window).scrollTop() > 100 ){
		    
		 		$('.top-header').addClass('shows');
		    
		  		} else {
		    
		   	 	$('.top-header').removeClass('shows');
		    
		 		};   	
			});
			$(document).ready(function () {
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        if (window.location.hash && isChrome) {
            setTimeout(function () {
                var hash = window.location.hash;
                window.location.hash = "";
                window.location.hash = hash;
            }, 300);
        }
    });

		  });

		jQuery('.scroll').on('click', function(e){		
				e.preventDefault()
		    
		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
		});


/*
$(document).on('click', 'a.thatTag', function (e) {
   // ...
   e.preventDefault();
});*/
		</script> 

	</body>
</html>
